
// xs sizes

.flex-container{            // -webkit-  is for Safari
  -webkit-flex-flow:        column;
  flex-flow:                column;
  -webkit-justify-content:  flex-start;
  justify-content:          flex-start;
  -webkit-align-items:      center;
  align-items:              center;
}

.bubblewrap{
  display:                  -webkit-inline-flex; /* Safari */
  display:                  inline-flex;
  -webkit-flex-flow:        column;
  flex-flow:                column;
  padding-right:0px;
  padding-bottom:20px;
}

.bubble{
  min-height:250px;
  min-width:250px;
  margin-top:20px;
  margin-left:0px;
}

.bubbleStatement{ display:inherit; }


// TYPE SIZES =================================================

.logo{
  display:inline-block;
  border-left: 2px solid $Profile;
  padding-left:4px;
  text-align:left;

}

.logo h1{
  top:0px;
  left:0px;
  font-size:34px;
  line-height:32px;
  margin-top: -3px;
  margin-bottom: -4px;
  word-spacing:-8px;
  .tight{ 
    letter-spacing:-0.98px;
  }
}

.statement{
  font-size: 17px;
  line-height: 18px;
  margin-top:-5px;
}

.bubbleOne, .bubbleTwo, .bubbleThree, .bubbleFour, .bubbleFive, .bubbleSix, .bubbleSeven, .bubbleEight, .bubbleNine, .bubbleEmail, .bubbleLinkedIn, .bubbleProfile {
  font-size:34px;
  font-weight:normal;
  letter-spacing:0.5px;
  }

