/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -2px;
  color: #00B2B2;
  font-size: 3em;
  margin-left: -3px !important; }

h2 {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 400;
  margin-left: -1px !important; }

h3 {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding-top: 0.2em;
  font-weight: 400; }

h4 {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding-top: 0.4em; }

p {
  font-family: 'Roboto Slab', serif;
  color: black;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4em;
  padding-bottom: 0.5em; }

h1, h2, h3, p {
  margin: 0; }

h2 {
  margin-bottom: -0.1em; }

strong {
  font-weight: 700; }

#pageTitle h1 {
  font-size: 4em;
  color: white; }

.intro {
  padding-bottom: 50px; }

.quote {
  text-indent: -0.2em;
  margin-left: 0px; }

.quotee {
  font-weight: 700;
  margin-top: -0.4em;
  padding-bottom: 1.5em; }

.contact h3 {
  padding-bottom: 0.25em; }
.contact p {
  padding-bottom: 0em; }

a:link {
  color: #2F2B2D;
  text-decoration: none; }

a:visited {
  color: #2F2B2D; }

a:hover {
  color: #00B2B2; }

html, body {
  margin: 0; }

* {
  margin: 0;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: grayscale !important;
  font-smoothing: antialiased !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: .3s;
  /* Safari */
  transition-duration: .3s; }

.smoothScroll {
  position: fixed;
  bottom: 0px;
  background-color: #D7D2D2;
  border-radius: 50%;
  content: url("../images/global/arrow-up.png");
  background-repeat: no-repeat;
  width: 40px;
  margin: 15px 10px;
  display: none; }
  .smoothScroll:hover {
    background-color: #00B2B2; }

.main {
  min-height: 100vh; }

.topButton {
  position: fixed;
  bottom: 0px;
  background-color: #D7D2D2;
  border-radius: 50%;
  content: url("../images/global/arrow-up.png");
  background-repeat: no-repeat;
  width: 40px;
  margin: 15px 10px;
  display: none; }
  .topButton:hover {
    background-color: #00B2B2; }

header {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  display: inline-block;
  text-align: left;
  padding: 20px 0px 10px 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center; }

#container {
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center; }

#content {
  display: inherit;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.card-container {
  display: inherit;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center; }

.card {
  background: white;
  border-radius: 6px;
  margin: 0px 10px 20px 10px;
  display: inherit;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

.image {
  display: inherit;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center; }

.image {
  background-color: #B9B3B4;
  height: 175px; }

.cardtext {
  display: inherit;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

.cardtags {
  text-align: left; }

#divide-grey-full {
  min-height: 6px;
  min-width: 100%;
  background: url("../images/global/dot-grey.png");
  margin: 50px 0 50px -3px; }

#divide-grey {
  display: inline-block;
  min-height: 6px;
  width: 100%;
  max-width: 900px;
  background: url("../images/global/dot-grey.png");
  margin: 50px -5px 50px -5px; }

#divide-white {
  min-height: 6px;
  min-width: 100%;
  background: url("../images/global/dot-white.png");
  margin: 10px 0px 10px -3px; }

#divide-footer {
  min-height: 6px;
  min-width: 100%;
  background: url("../images/global/dot-white.png");
  margin: 0px 0px 0px -3px; }

@media (max-width: 319px) {
  .card-container {
    width: 100%; }

  .card {
    width: 100%;
    -webkit-flex-flow: column;
    flex-flow: column; }

  .image {
    width: 100%;
    border-radius: 6px 6px 0px 0px; }

  .cardtext {
    width: 100%;
    padding: 10px 7px 5px 7px; }

  .cardtitle {
    width: 100%; } }
@media (min-width: 320px) {
  .card-container {
    width: 100%; }

  .card {
    display: inherit;
    width: 100%;
    min-height: 200px; }

  .image {
    width: 33.3%;
    min-height: 220px;
    border-radius: 6px 0px 0px 6px; }

  .cardtext {
    width: 66.6%;
    padding: 12px 5px 0px 10px; }

  .cardtitle {
    width: 100%; } }
@media (min-width: 480px) {
  .card-container {
    width: 50%;
    max-width: 230px;
    min-height: 100%; }

  .card {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-flow: column;
    flex-flow: column; }

  .image {
    width: 100%;
    min-height: 200px;
    border-radius: 6px 6px 0px 0px; }

  .cardtext {
    padding: 10px 7px 0px 7px;
    width: 100%; }

  .cardtags {
    min-height: 37px; } }
@media (min-width: 768px) {
  .card-container {
    width: 50%;
    max-width: 230px;
    min-height: 200px; }

  .card {
    width: 100%; } }
@media (min-width: 1024px) {
  #container {
    max-width: 1024px; }

  .card-container {
    width: 50%;
    max-width: 230px;
    min-height: 200px; }

  .card {
    width: 100%; } }
#folioCards #pageTitle h1 {
  font-size: 4em;
  color: white; }

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  color: #2F2B2D;
  text-align: left; }
.card h1 {
  font-size: 30px;
  line-height: 30px;
  margin-top: -6px;
  font-weight: 300;
  letter-spacing: -1px; }
.card h2 {
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid #B9B3B4;
  margin-bottom: 5px;
  font-weight: 700;
  letter-spacing: 0px; }
.card p {
  font-family: 'Roboto Slab', serif;
  color: #2F2B2D;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px; }
.card a:link {
  color: #2F2B2D;
  text-decoration: none; }

.hamburger {
  position: fixed;
  z-index: 9999;
  padding: 15px 10px; }
  .hamburger:hover {
    cursor: pointer; }

.openSidebar {
  background-color: #D7D2D2;
  border-radius: 50%;
  content: url("../images/global/arrow-right.png");
  background-repeat: no-repeat;
  width: 40px; }
  .openSidebar:hover {
    background-color: #00B2B2; }
  .sidenav-active .openSidebar {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg); }

.pageName {
  position: fixed;
  top: 110px;
  margin-left: 10px;
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 26px;
  width: 40px;
  direction: rtl;
  white-space: nowrap; }
  .sidenav-active .pageName {
    visibility: hidden; }
  .pageName p {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    color: white; }

nav {
  background-color: #2F2B2D;
  display: inline-block;
  position: fixed;
  min-height: 100vh;
  width: 192px;
  left: -192px; }

nav .logo {
  margin: 10px 0 10px 0;
  text-align: center; }
  nav .logo img {
    width: 160px;
    height: 160px;
    border-radius: 50%; }

nav ul a:link {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1em;
  font-weight: 400;
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 7px 0 3px 0; }
nav ul a:visited {
  color: white; }
nav ul a:hover {
  color: white;
  background-color: black;
  background: rgba(0, 0, 0, 0.2); }

nav .active {
  color: white;
  background-color: black;
  background: rgba(0, 0, 0, 0.5); }

nav footer {
  width: 192px;
  text-align: center;
  position: absolute;
  bottom: 0; }
  nav footer p {
    font-family: 'Roboto Slab', serif;
    font-size: 0.8em;
    line-height: 1.2em;
    padding: 5px;
    font-weight: 400;
    color: white; }

.sidenav-active nav, .sidenav-active .hamburger, .sidenav-active .cover {
  transform: translateX(192px); }

.main {
  transition: margin-left .3s; }
  .sidenav-active .main {
    margin-left: 192px; }
