// Styling for content ----------------------------------------


.main{
  min-height:100vh;
}

.topButton {
    position:fixed;
    bottom:0px;
    background-color: $Grey08;
    border-radius:50%;
    content: url("../images/global/arrow-up.png");
    background-repeat: no-repeat;
    width:40px;
    margin: 15px 10px;
    display:none;
    &:hover{
      background-color: $Profile;
    }
  }


// ====================================================================================

header{
  // border:1px dotted green;
  margin:0 auto;
  width:100%;
  max-width:900px;
  display:inline-block;
  text-align: left;
  padding:20px 0px 10px 0px;

  display:                  -webkit-flex; 
  display:                  flex;
  -webkit-flex-flow:        row;
  flex-flow:                row;
  -webkit-justify-content:  center;
  justify-content:          center;
  -webkit-align-items:      flex-start;
  align-items:              flex-start;
  -webkit-flex-wrap:        wrap; 
  flex-wrap:                wrap;
  -webkit-align-content:    center; 
  align-content:            center;
}
 
#container { 
  // border:1px dotted yellow;
  margin:0 auto;

  display:                  -webkit-flex; 
  display:                  flex;
  -webkit-flex-flow:        row;
  flex-flow:                row;
  -webkit-justify-content:  center;
  justify-content:          center;
  -webkit-align-items:      flex-start;
  align-items:              flex-start;
  -webkit-flex-wrap:        wrap; 
  flex-wrap:                wrap;
  -webkit-align-content:    center; 
  align-content:            center;
}

#content{
  // border:1px dotted green;

  display:                  inherit;
  -webkit-flex-flow:        row;
  flex-flow:                row;
  -webkit-justify-content:  center;
  justify-content:          center;
  -webkit-align-content:    flex-start; 
  align-content:            flex-start;
  -webkit-align-items:      flex-start;
  align-items:              flex-start;
  -webkit-flex-wrap:        wrap; 
  flex-wrap:                wrap;
}

.card-container{
  // border:1px dotted blue;  

  display:                  inherit;
  -webkit-flex-flow:        row;
  flex-flow:                row;
  -webkit-justify-content:  center;
  justify-content:          center;
  -webkit-align-items:      center;
  align-items:              center;
  -webkit-flex-wrap:        wrap; 
  flex-wrap:                wrap;
  -webkit-align-content:    center; 
  align-content:            center;
}

.card{
  // border:1px dotted white;
  background:white;
  border-radius: 6px;
  margin:0px 10px 20px 10px;

  display:                  inherit;
  // -webkit-flex-flow:        column;
  // flex-flow:                column;
  -webkit-justify-content:  flex-start;
  justify-content:          flex-start;
  -webkit-align-items:      flex-start;
  align-items:              flex-start;
  // -webkit-flex-wrap:        wrap; 
  // flex-wrap:                wrap;
  -webkit-align-content:    flex-start; 
  align-content:            flex-start;
}

.image{
  display:                  inherit;
  -webkit-flex-flow:        row;
  flex-flow:                row;
  -webkit-justify-content:  center;
  justify-content:          center;
  -webkit-align-items:      center;
  align-items:              center;
  -webkit-flex-wrap:        wrap; 
  flex-wrap:                wrap;
  -webkit-align-content:    center; 
  align-content:            center;
}


.image{
  background-color: $Grey07;
  height:175px;
  }

.cardtext{
  // border:1px dotted red;
  display:inherit;
  -webkit-flex-flow:        row;
  flex-flow:                row;
  -webkit-justify-content:  flex-start;
  justify-content:          flex-start;
  -webkit-align-items:      flex-start;
  align-items:              flex-start;
  -webkit-flex-wrap:        wrap; 
  flex-wrap:                wrap;
  -webkit-align-content:    flex-start; 
  align-content:            flex-start;
}

.cardtags{
  text-align:left;
}



// Kept in case I ever use it ====

// #bubble{
//   // border:1px dotted red;
//   background-color: $Grey07;
//   // min-width:254px;
//   // min-height:254px;
//   border-radius: 50%;
//   text-align:center;
// }

// Dividers =======================================


#divide-grey-full{
  min-height: 6px;
  min-width:100%;
  background: url("../images/global/dot-grey.png");
  margin:50px 0 50px -3px;
}

#divide-grey{
  display:inline-block;
  min-height: 6px;
  width:100%;
  max-width:900px;
  background: url("../images/global/dot-grey.png");
  margin:50px -5px 50px -5px;
}

#divide-white{
  min-height: 6px;
  min-width:100%;
  background: url("../images/global/dot-white.png");
  margin:10px 0px 10px -3px;
}

#divide-footer{
  min-height: 6px;
  min-width:100%;
  background: url("../images/global/dot-white.png");
  margin:0px 0px 0px -3px;
}

// ====================================================================================



  // COMMON BREAKPOINTS
@media (max-width:319px) // xxs - smaller than iPhone4 width 
  { @import "xxs-cards"; }

@media (min-width:320px) // xs - mobile portrait 
  { @import "xs-cards"; }

@media (min-width:320px) and (orientation: landscape) // xs - mobile landscape 
  { }

@media (min-width:480px) // sm - mobile landcape 
  { @import "sm-cards"; }

@media (min-width:480px) and (orientation: landscape) // sm - mobile landscape 
  { 

  }

// @media (max-width:518px) // sm - mobile landcape - for cards only
//   { 
//   }

@media (min-width:768px) // md - tablet portrait 
  { @import "md-cards";
  }

@media (min-width:1024px) // lg - tablet landscape 
  { @import "lg-cards";
  }


// @media (min-width:1224px) // xl - desktop 
// { 
// }


//-------------------------------------------------------------------------------------

