@import "../core/core-elements";

// Page Typography ==============================================


#pageTitle h1{
  font-size: 4em;
  color:$Profile;
}


.intro{
  padding-bottom:50px;
}

.quote{
  text-indent:-0.2em;
  margin-left:0px
}

.quotee{
  font-weight:700;
  margin-top:-0.4em;
  padding-bottom: 1.5em;

}

.contact {
    h3{ padding-bottom: 0.25em; }
    p{ padding-bottom: 0em; }

    
}

a:link { 
  color: $Grey01;
  text-decoration: none;
}
a:visited{ color: $Grey01;} 
a:hover{ color: $Profile;} 



